.catalog-container {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: auto;
  gap: 10px;
}

@media print {
  img, p, div, span{
    page-break-inside: avoid;
  }
}

@page {
  page-break-after: auto;
  size: auto;
  margin: 20mm;
}
